//
   Created by jamiecho on 7/14/16.

html(lang="en")
   head
      title FishTags-Login
   body
      div
         p PLEASE ENTER CREDENTIAL...
            br
         form(method="POST" action='view')
            input(type='text',name='id',value='')
            input(type='submit',name='SUBMIT',value='Submit')