//
   Created by jamiecho on 6/14/16.

html(lang="en")
    head
        title FishTags-Test
    body
        div
            form(method="POST", enctype="multipart/form-data")
                table
                    tr
                        th person Info
                        td
                            input(type='text',name='personInfo')
                    tr
                        th tag Info
                        td
                            input(type='text',name='tagInfo')
                    tr
                        th photo
                        td
                            input(type='file',name='photo')
                    tr
                        td(colspan=2)
                            input(type='submit',name='SUBMIT',value='Submit')